<% layout('/layouts/boilerplate') -%>
<body>
    <h3>New Staycation details</h3>
    <form method="post" action="/listings">
        <input name="listing[title]" placeholder="Enter staycation name" type="text">
        <br/><br/>
        <textarea name="listing[description]" placeholder="Enter staycation details"></textarea>
        <br/><br/>
        <input name="listing[image]" placeholder="Enter staycation image URL/link" type="text">
        <br/><br/>
        <input name="listing[price]" placeholder="Enter price" type="number">
        <br/><br/>
        <input name="listing[location]" placeholder="Enter location" type="text">
        <br/><br/>
        <input name="listing[country]" placeholder="Enter country" type="text">
        <br/><br/>
        <button>Add</button>
    </form>
</body>