/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Add new Staycation */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}